<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>
            Draughts&nbsp
            {% if version == 'single' %}
                Single Player Game
            {% else %}
                Local Game
            {% endif %}
            
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/single.js"></script>
        <link rel='stylesheet' type= 'text/css' href = '/static/style.css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="display-4">
                    {% if version == 'single' %}
                        Single Player
                    {% else %}
                        Local Two Player
                    {% endif %}
                    
                </h1>
            </div>
            <div class='row'>
                <p class='lead'>
                    {% if version == 'single' %}
                        Single Player game against an AI
                    {% else %}
                        Two Player game against someone of the same device
                    {% endif %}
                    
                </p>
            </div>
            <div class='row' id='info'></div>
            <div class='row'>
                <canvas width=800 height=800 id='game_board' class='border border-dark rounded'></canvas>
            </div>
        </div>
    </body>
</html>