{% extends "base.html" %}
{% block title %}Online Game{% endblock %}
{% block heading %}Online Two Player{% endblock %}
{% block paragraph %}Two player draughts game against someone online{% endblock %}

{% block content %}
    <div id='findGame'>
        <div class='row'>
            <p class='lead'>Create a game or join someone else's:</p>
        </div>
        <div class='row'>
            <div class="input-group">
                <span class="input-group-append">
                    <button class='btn btn-secondary rounded-left' id='createGame'>Create game</button>
                </span>
                <input type="text" class="form-control" id='nameInput' placeholder='Game name'>
            </div>
        </div>
        <div class="row">
            <table>
                <th>Games to join:</th>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var rooms = {{ rooms| safe }};
    var id = {{ id }};
</script>
{% endblock %}
